@import url(./reset.css);
@import url(./mediaQuery.css);

html {
    width: 100%;
    height: 100%;
    background: #cecece;
    margin: 0 auto;
}
body {
    width: 100%;
    height: 100%;
    max-width: 600px;
    background: #edecec;
    margin: 0 auto;
}
.details-page {
   width: 100%;
   background:#191919; 
}
.details-page-pic {
    width: 100%;
    height: auto;
    position: relative;
}
.details-page-pic>img{
    width: 100%;
    height: auto;
}
.details-page-pic-info {
    width: 100%;
    height: 18.791;
    background: #191919;
}
.details-page-pic-bg {
    width: 86.66%;
    margin: 0 auto;
    position: relative;
}
.details-page-pic-bg  .swiper-container {
    padding-top: 7.83rem;
    width: 100%;
} 
.details-page-pic-bg  .swiper-container .swiper-slide img{
    width: 100%;
} 

.details-page-pic-bg span{
    display: block;
    width: 1.875rem;
    height: 1.875rem;
    position: absolute;
    top: 1.875rem;
    right: 0;
    background: url(../images/delete.png);
    background-size: cover;
    z-index: 9999;
}

.details-page-pic-info-btns {
    width: 86%;
    height: 8.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}

.details-page-pic-info-btns > div{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.details-page-pic-info-btns > div span{
    font-size: 0.542rem;
    color: #fff;
    margin-top:0.652rem;
}

.details-page-pic-info-btns > div:nth-child(1) label{
    display: block;
    width: 2.07rem;
    height: 2.07rem;
    background: url('../images/share.png') no-repeat left top;
    background-size: 100%;
}

.details-page-pic-info-btns > div:nth-child(2) label{
    display: block;
    width: 2.07rem;
    height: 2.07rem;
    background: url('../images/loveS.png') no-repeat left top;
    background-size: 100%;
}

.details-page-pic-info-btns > div:nth-child(3) label{
    display: block;
    width: 2.07rem;
    height: 2.07rem;
    background: url('../images/saveS.png') no-repeat left top;
    background-size: 100%;
}

.details-page-pic-info-btns > div:nth-child(4) label{
    display: block;
    width: 2.07rem;
    height: 2.07rem;
    background: url('../images/menu.png') no-repeat left top;
    background-size: 100%;
}

.details-page-pic-info-btns > .details-info-active:nth-child(1) label{
    display: block;
    width: 2.07rem;
    height: 2.07rem;
    background: url('../images/share_active.png') no-repeat left top;
    background-size: 100%;
}

.details-page-pic-info-btns > .details-info-active:nth-child(2) label{
    display: block;
    width: 2.07rem;
    height: 2.07rem;
    background: url('../images/loveS_active.png') no-repeat left top;
    background-size: 100%;
}

.details-page-pic-info-btns > .details-info-active:nth-child(3) label{
    display: block;
    width: 2.07rem;
    height: 2.07rem;
    background: url('../images/saveS_active.png') no-repeat left top;
    background-size: 100%;
}

.details-page-pic-info-btns > .details-info-active:nth-child(4) label{
    display: block;
    width: 2.07rem;
    height: 2.07rem;
    background: url('../images/menu_active.png') no-repeat left top;
    background-size: 100%;
}

.details-page-pic-info-details {
    width: 93.6%;
    margin: 0 auto;
}

.details-page-pic-info-details-title {
    width: 100%;
    height: 1.79rem;
}

.details-page-pic-info-details-title span{
    color: #4dbc15;
    font-size: 1.25rem;
}

.details-page-pic-info-details-title p{
    display: inline-block;
    font-size: 1.25rem;
    color: #fff;
    padding-left: 0.5rem;
}

.details-page-pic-info-details-p {
    width: 100%;
    margin: 0.3rem auto 0;
    max-height: 5.875rem;
    font-size: 1.083rem;
    color: #fff;
    line-height: 1.95rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.details-page-pic-info-details-upload {
    width: 100%;
    height: 3.33rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.details-page-pic-info-details-upload span{
    display: block;
    width: 2.96rem;
    height: 1.25rem;
    background: url(../images/up.png) no-repeat left top;
    background-size: 100%;
    cursor: pointer;
}

.details-page-iphone {
    width:100%;
    height: 22.92rem;
    background: #fff;
    padding-top: 1rem;
}

.details-page-iphone-top {
    width: 96.8%;
    height: 14.458rem;
    margin: 0 auto;
    background: url(../images/iphoneborder.png) no-repeat left top;
    background-size: 100% 100%;
}

.details-page-iphone-top input {
    width: 92%;
    height: 3.71rem;
    margin: 5.5rem 2% 0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    padding-left: 4%;
}

.details-page-iphone-top input::-ms-input-placeholder{   
    color: #d3d3d3;
    font-size: 1rem;
}
.details-page-iphone-top input::-webkit-input-placeholder{
    color: #d3d3d3;
    font-size: 1rem;
}
.details-page-iphone-top-btn {
    width: 96%;
    height: 3.75rem;
    margin: 0.67rem 2% 0; 
    background: #4dbc15;
    line-height: 3.75rem;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.details-page-iphone-top-btn span {
    color: #fff;
    font-size: 1.25rem;
}
.details-page-iphone-bottom {
    width: 88%;
    margin: 1.333rem 6%;
}
.details-page-iphone-bottom p{
    color:#666666;
    font-size: 0.917rem;
    line-height: 1.5rem;
}

.details-page-tab {
    width: 100%;
    height: 3.33rem;
    display: flex;
    background: #f3f3f3; 
}

.details-page-tab>div {
    width: 93.6%;
    margin: 0 auto;
    text-align: left;
    line-height: 3.33rem;
}

.details-page-tab>div span{
    font-size: 1.25rem;
    color: #191919;
    font-weight: 900;
}
.details-page-tab>div span:nth-child(2){
    padding: 0 0.75rem;
    color: #898989;
}

.result-search-content {
    width: 100%;
    background: #edecec;
    position: relative;
}
.result-search-content .content-card {
    position:absolute; left:0px; top:0px; 
    background:#eee;
    margin-left: 3.46%;
    margin-top:0.83rem;
    width: 44.8%;
}

.result-search-content .content-card .content-card-top{
    background:#fff;
    margin: 0 auto;
}

.result-search-content .content-card .content-card-top img{
    width: 100%;
    height: auto;
}

.result-search-content .content-card .content-card-top p{
    padding: 1rem;
    color:#191919;
    font-size: 1rem;
    text-align: left;
    line-height: 1.2rem;
    max-height: 2.4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.result-search-content .content-card .content-card-bottom {
    padding-top:3.1rem;
    height: 2.11rem;
    background: #fff;
    margin: 0 auto;
}

.result-search-content .content-card .content-card-bottom-love, .result-search-content .content-card .content-card-bottom-love-active {
   width: 5rem;
   height: 2rem;
   float: right;
   display: flex;
   justify-content: center;
}
.result-search-content .content-card .content-card-bottom-love label{
    width: 1rem;
    height: 1rem;
    background: url(../images/love.png);
    background-size: cover;
    display: inline-block;
 }
 .result-search-content .content-card .content-card-bottom-love-active label{
    width: 1rem;
    height: 1rem;
    background: url(../images/love_active.png);
    background-size: cover;
    display: inline-block;
 }
 .result-search-content .content-card .content-card-bottom-love span{
    display: inline-block;
    margin-left: 0.3rem;
    font-size: 1rem;
    color: #999999;
 }
 .result-search-content .content-card .content-card-bottom-love-active span{
    display: inline-block;
    margin-left: 0.3rem;
    font-size: 1rem;
    color: #999999;
 }
 .result-search-content .content-card .content-card-bottom-save, .result-search-content .content-card .content-card-bottom-save-active {
    width: 5rem;
    height: 2rem;
    float: right;
    display: flex;
    justify-content: center;
 }
 .result-search-content .content-card .content-card-bottom-save label{
    width: 1rem;
    height: 1rem;
    background: url(../images/save.png);
    background-size: cover;
    display: inline-block;
 }
 .result-search-content .content-card .content-card-bottom-save-active label{
    width: 1rem;
    height: 1rem;
    background: url(../images/save_active.png);
    background-size: cover;
    display: inline-block;
 }
 .result-search-content .content-card  span{
    display: inline-block;
    margin-left: 0.3rem;
    font-size: 1rem;
    color: #999999;
 }
 
.result-bottom {
    width: 100%;
    height: 3.33rem;
    display: flex;
    padding-bottom: 2rem;
}
 .result-bottom>div {
    flex:1;
    text-align: center;
    line-height: 3.33rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
 .result-bottom>div label {
    width: 1.2rem;
    height: 1.2rem;
    display: inline-block;
}
.result-bottom>div span {
    color: #191919;
    font-weight: 900;
    font-size: 1.083rem;
}
.result-bottom>div label:first-of-type {
    background: url(../images/home.png);
    background-size: cover;
}
.result-bottom>div:first-of-type span {
    margin-left: 0.3rem;
}
.result-bottom>div::after {
    content: "";
    position: absolute;
    right:0;
    top: 1.1rem;
    width: 1px ;
    height:1.2rem;
    background: #191919;
}
.result-bottom>div:last-of-type::after {
    content: "";
    position: absolute;
    right:0;
    top: 1.1rem;
    width: 0px ;
    height:1.2rem;
    background: #191919;
}
.result-search-history {
    width: 100%;
    height: auto;
    clear: both;
}
.result-search-history-top {
    width: 100%;
    height: 5rem;
    position: relative;
    text-align: center;
}
.result-search-history-top:after {
    content:'大家都爱搜';
    position: absolute;
    left: 3.1rem;
    top: 1.9rem;
    color:#191919;
    font-size: 1.25rem;
    font-weight: 900;
}
.result-search-history-top img{
    position: absolute;
    left: 1.38rem;
    top: 1.95rem;
    width: 1.26rem;
    height: 1.25rem;
}
.result-search-history-content {
    width: 80%;
    margin: 0 auto;
    height: auto;
    clear: both;
}
.result-search-history-content span{
    display: block;
    width: 50%;
    height: 2rem;
    float: left;
    text-align: center;
    font-size: 1rem;
}

@media screen and (max-width:350px) {
    .result-search-content .content-card .content-card-top{
        background:#fff;
        width: 12rem;
        margin: 0 auto;
    }
    .result-search-content .content-card .content-card-top img{
        width: 12rem;
        height: auto;
    }
    .result-search-content .content-card .content-card-bottom {
        width: 12rem;
        padding-top:3.1rem;
        height: 2.11rem;
        background: #fff;
        margin: 0 auto;
    }
}